[% DEFAULT strain = rest %]
<div class="span6">
    <h2>Strain</h2>
    <p>Search and view strains.</p>
    <div class="well">
        <input id="search-strain" type="text" class="span3"
            [% IF strain %] value="[% strain.name %]"
            [% ELSE %] placeholder="Start typing a strain name..."
            [% END %]
        />
        <span class="help-inline" style="margin-bottom: 9px"><small>Example:
        <a href="/strain/CA257">CA257</a>,
        <a href="/strain/RGD1">RGD1</a>,
        <a href="/strain/N2">N2</a>
        </small></span>
    </div>
</div>

[% IF strain %]
<div class="well span6">
    <table id="strain-view" class="table table-striped">
    <thead><h3>Strain Information</h3></thead>
    <tbody>
        <tr><th>Name</th>       <td>[% strain.name %]</td></tr>
        <tr><th>Species</th>    <td><em>[% strain.species %]</em></td></tr>
        <tr><th>Genotype</th>   <td>[% strain.genotype %]</td></tr>	
        <tr><th>Mutagen</th>    <td>[% strain.mutagen %]</td></tr>
        <tr><th>Outcrossed</th> <td>[% strain.outcrossed %]</td></tr>
        <tr><th>Received</th>   <td>[% strain.received %]</td></tr>
        <tr><th>Made by</th>    <td>[% strain.made_by %]</td></tr>
	<tr><th>Laboratory</th> <td>[% strain.laboratory %]</td></tr>
	<tr><th>Made by</th>    <td>[% strain.made_by %] ([% link_to_wormbase('Person',strain.made_by,'view at WormBase') %])</td></tr>

    </tbody>
    </table>
    <p><a class="btn" data-uri="/register" data-toggle="modal" href="#addToCart"><i class="icon-shopping-cart"></i> Add to Cart</a></p>
</div>
<div class="modal hide fade" id="addToCart">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Order strain [% strain.name %]</h3>
    </div>
    <div class="modal-body">
        <p>You are about to order the strain</p>
    </div>
    <div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		<a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
</div>
[% END %]

<script>
    $(function () {
        $('#search-strain').typeahead({
            ajax: {
            	uris: [
            		'/strain/list?distinct;columns=genotype',
            		'/strain/list?distinct;columns=name',
            	],
				preprocess: function (item) {
					return item[0];
				}
            },
        });
        
        $('#search-strain').on('change',
            function (data) {
                window.location.href = '/strain/' + data.target.value
                // If we want to get fancy and avoid page loads....
                // window.location.hash = data.target.value;
            }
        );

        /*
        $(window).hashchange(function () {
            // var strainName = location.hash.replace(/^#/,'');
            $.ajax({
                url: '/strain/' + strainName,
                dataType: 'json',
                success: function (json) {
                    console.log(json);
                    var tableRow = function (key) {
                        var row = $('<tr></tr>');
                        row.append($('<th></th>').html(key))
                            .append($('<td></td>').html(json[key]));
                        return row;
                    };
                    $('#strain-view').empty();
                    $('#strain-view').add(tableRow("name"));
                }
            });
        });
        */
    });
</script>