[% WRAPPER admin_content title="TODO" %]
<ul>
<li>need to handle empty or broekn fields in frzloc - check merge logs
<li>whenever there is a strain "card" shown, it should have the add to cart. Maybe make this a macro?
</ul>

<p><strong>Questions for CGC</strong></p>
<ul>
<li>Some frzloc samples have no strain associated with them?
</ul>
[% END %]


[% rest_error %]


[% DEFAULT strain = rest %]
<div class="span6">
    <h2>Strain</h2>
    <p>Search and view strains.</p>
    <div class="well">
        <input id="search-strain" type="text" class="span3"
            [% IF strain %] value="[% strain.name %]"
            [% ELSE %] placeholder="Start typing a strain name..."
            [% END %]
        />
        <span class="help-inline" style="margin-bottom: 9px"><small>Example:
        <a href="/strain/CA257">CA257</a>,
        <a href="/strain/RGD1">RGD1</a>,
        <a href="/strain/N2">N2</a>
        </small></span>
    </div>
</div>

[% IF strain %]
<!--<div class="well span6"> -->
<div class="row-fluid">
<div class="span12">
<div class="row-fluid">
<div class="well span6">
    <table id="strain-view" class="table table-striped">
    <thead><h3>Strain Information</h3></thead>
    <tbody>
        <tr><th>Name</th>       <td>[% strain.name %]</td></tr>
        <tr><th>Species</th>    <td>[% species_link(strain.species) %]</td></tr>
        <tr><th>Genotype</th>   <td>[% strain.genotype %]
	     <span class="label label-important"> To be replaced by the constructed genotype.</span>
	     </td></tr>
        <tr><th>Constructed Genotype</th>   <td>


	  [% constructed_genotype(strain.atomized_genotype) %]
           </td></tr>	
        <tr><th>Description</th>    <td>[% strain.description %]</td></tr>
        <tr><th>Mutagen</th>    <td>[% strain.mutagen %]</td></tr>
        <tr><th>Outcrossed</th> <td>[% strain.outcrossed %]</td></tr>
        <tr><th>Received</th>   <td>[% strain.received %][% IF c.check_user_roles('admin') %]
	     <span class="label label-important"> Received by will be replaced by history in the StrainEvent table.</span>
	     [% END %]
</td></tr>
	[% IF strain.made_by %]
         	<tr><th>Made by</th>    <td>[% strain.made_by %] ([% link_to_wormbase('Person',strain.made_by,'view at WormBase') %])</td></tr>
	[% END %]
	[% IF strain.laboratory %]
   		<tr><th>Laboratory</th> <td><a href="[% c.uri_for('/laboratory',strain.laboratory) %]">[% strain.laboratory %]</a></td></tr>
	[% END %]

       [% format_history(items=strain.history) %]

    </tbody>
    </table>
	[% IF c.user_exists %]
    <a class="btn" id="addToCartButton"><i class="icon-shopping-cart"></i> Add to Cart</a>
[%#	<div rel="popover" data-selector="addToCartButton" id="addToCart" data-title="Are you sure?" data-content="<button id='cartCancel' class='btn'>No, cancel</button> <button class='btn btn-primary'>Yes, please</button>"></div> %]
		
    </div>
	<script type="text/javascript" charset="utf-8">
	$(function () {
		$("#addToCartButton").popover({
			title: "Are you sure?",
			trigger: 'focus',
			content: "<button id='cartCancel' class='btn'>No, cancel</button> <button id='doCartAdd' class='btn btn-primary'>Yes, please</button>"
		});
		$("#addToCartButton").click(function () {
			$("#addToCartButton").popover("show");
			$("#cartCancel").click(function () {
				$("#addToCartButton").popover("hide")
			});
			$("#doCartAdd").click(function () {
				$("#addToCartButton").popover("hide")
				$.ajax({
					url: "[% c.req.base %]user/[% c.user.user_id %]/cart",
					type: "POST",
					data: { strains: "[% strain.name %]", inline: 1 },
					success: function (data) {
						$("#modal").html(data);
						$("#modal").modal('show');
						// Don't forget to update the count
						$("#navbar-cart-items")
							.text($(data).find("#cart-items").text());
					},
					error: function (jqXHR, textStatus, errorThrown) {
						App.showAlert({
							title: "Cart error",
							items: [
								jqXHR.getResponseHeader('Entity'),
							]
						});
					}
				});
			});
		});
	});
	</script>
	[% ELSE %]
		<div class="alert alert-info">
			<a href="#modal" data-toggle="modal" data-uri="/login"><strong>Sign in</strong></a>
			or
			<a href="#modal" data-toggle="modal" data-uri="/register"><strong>register an account</strong></a> if you want to order this strain.
		</div>
	[% END %]


<!--</div> -->
<!-- </div> -->
[% END %]

[% typeahead_support('strain',['genotype','name']) %]



[% IF c.check_user_roles('admin') %]

     <div class="span6">     
     [% WRAPPER admin_content title="Freezer Samples" %]
     Samples of this strain housed at the CGC.
     [% END %]
 
     [% FOREACH freezer IN strain.samples.keys %] 
<!--         <div class="well span4 offset6"> -->
	     <div class="well">
               <table id="strain-view" class="table table-striped">
                 <thead><h3>[% freezer %]<small><em><a href="[% c.uri_for('/freezer/' _ strain.samples.$freezer.id) %]"> (View all samples in this freezer)</a></em></small></h3></thead>
                 <tbody>
                    <tr><th>Freezer Type</th>       <td>[% strain.samples.$freezer.type %]</td></tr>
		 </tbody>
                </table>

           [% FOREACH sample IN strain.samples.$freezer.samples %]
               <table id="strain-view" class="table table-striped">
                 <thead><h3>Freezer location: [% sample.freezer_location %]</h3></thead>
                 <tbody>
                    <tr><th>Vials</th><td>[% sample.vials %]</td></tr>
				 </tbody>
                </table>		

                [% format_history(items=sample.history) %]

             [% END %]
	  </div>
               [% END %]
      </div>
</div><!-- close row -->
</div><!-- close 12 span -->
</div><!-- close 12 span row -->

      [% END %]
