This is the list of recently added strains.

http://www.cbs.umn.edu/CGC/strains/recentadditions.txt

We should be able to provide it in various formats, as well as make the date range configurable.



