<!-- begin boilerplate/footer -->
    <div id="spacer"></div>
    
</div>

<div id="footer">
    <div id="footer-nav">

   </div>

   <br clear="all" />

    <div id="footercredit">
     </div>

    <div id="footermeta">
    </div>
</div>


<!-- end boilerplate/footer -->

    </div><!--end wrap-->
