<div class="page-header">
  <h1>Variation Report</h1>
</div>


[% IF c.check_user_roles('admin') %]
<div class="alert alert-info">
<strong>TODO:</strong>
<ul>
<li>Individual gene report data contains DBIx::Class objects; need to figure out mutliple joins.
<li>Typeahead is really slow on big lists.
</ul>

<p><strong>Questions for CGC</strong></p>
</div>
[% END %]


<div class="span6">
    <h2>All Variations</h2>
    <p><a href="[% c.uri_for('/variations') %]">View all variations</a></p>
</div>


[% DEFAULT variation = rest %]
<div class="span6">
    <h2>Search</h2>

    <div class="well">
        <input id="search-variation" type="text" class="span3"
            [% IF variation %] value="[% variation.name %]"
            [% ELSE %] placeholder="Start typing a variation..."
            [% END %]
        />
        <span class="help-inline" style="margin-bottom: 9px"><small>Example:
        <a href="/variation/m2">m2</a>,
        <a href="/variation/n1159">n1159</a>,
        <a href="/variation/pkP1066">pkP1066</a>
        </small></span>
    </div>
</div>

[% IF variation %]
<div class="well span6">
    <table id="variation-view" class="table table-striped">
    <thead><h3>Variation Information</h3></thead>
    <tbody>
        <tr><th>Name</th><td>[% variation.name %] ([% link_to_wormbase('Variation',variation.name,'view at WormBase') %])</td></tr>
	<tr><th>Species</th><td>[% species_link(variation.species) %]</td></tr>
	<tr><th>Genetic position</th><td>[% genetic_position(variation) %]</td></tr>

	<tr><th>Genomic position</th><td>[% genomic_position(variation) %]</td></tr>
    </tbody>
    </table>
</div>


<div class="well span6">

<h2>Strains carrying this variation</h2>

    [% IF variation.ag %]
    <table class="table table-striped">
    <thead>
        <tr>            
            <th>Strain</th>
	    <th>Genotype</th>
	    <th>Species</th>
	    <th>Description</th>
        </tr>
    </thead>
    <tbody>
        [% FOREACH ag IN variation.ag %]
         <tr>
            <td><a href="[% c.uri_for('/strain/' _ ag.strain.name) %]">[% ag.strain.name %]</a></td> 
	    <td>[% ag.strain.genotype %]</td>
            <td>[% species_link(ag.strain.species.name) %]</td>
	    <td>[% ag.strain.description %]</td>
         </tr>
	 [% END %]
    </tbody>
</table>
[% ELSE %]
   <em>There are no strains at the CGC carrying this variation.</em>
[% END %]


[% END %]





[% typeahead_support('variation',['name']) %]

