<div class="page-header">
  <h1>Gene Classes tracked by the CGC</h1>
</div>

<div class="well">Found: [% c.stash.count %]</div>

<table class="table table-striped">

    <thead>
        <tr>            
            <th>Gene Class</th>
	    <th>Description</th>
	    <th>Responsible Laboratory</th>
        </tr>
    </thead>
    <tbody>
        [% FOREACH row IN c.stash.results %]
         <tr>
            <td><a href="[% c.uri_for('/geneclass/' _ row.name)%]">[% row.name %]</a></td>
            <td>[% row.description %]</td>  
	    <td><a href="[% c.uri_for('/laboratory/' _ row.laboratory.name) %]">[% row.laboratory.head %] ([% row.laboratory.name %])</td>
	    <td>
	    [% row.genes.count %]
	    
	    </td>

         </tr>
	 [% END %]
    </tbody>
</table>