<div class="page-header">
  <h1>CGC Freezers</h1>
</div>


[% IF c.check_user_roles('admin') %]
<div class="alert alert-info">
<strong>TODO:</strong>
<ul>
<li> Admin only feature? Probably.
</ul>

<p><strong>Questions for CGC</strong></p>
</div>
[% END %]




<div class="span6">
    <h2>All Freezers</h2>
    <p><a href="[% c.uri_for('/freezers') %]">View all freezers at the CGC</a></p>
</div>


[% DEFAULT freezer = rest %]
<div class="span6">
    <h2>Search</h2>
    <!--
    <p>Search and view freezers.</p>
-->
    <div class="well">
        <input id="search-freezer" type="text" class="span3"
            [% IF freezer %] value="[% freezer.name %]"
            [% ELSE %] placeholder="Start typing a freezer name..."
            [% END %]
        />
        <span class="help-inline" style="margin-bottom: 9px"><small>Example:
        <a href="/freezer/1">MCB Tower</a>,
        <a href="/freezer/2">Moos Tower</a>
        </small></span>
    </div>
</div>

[% IF freezer %]
<div class="well span6">
    <table id="freezer-view" class="table table-striped">
    <thead><h3>Freezer Information</h3></thead>
    <tbody>
        <tr><th>Name</th><td>[% freezer.name %]</td></tr>
	<tr><th>Type</th><td>[% freezer.type %]</td></tr>
	<tr><th>Number of samples</th><td>[% freezer.samples.size %]</td></tr>
    </tbody>
    </table>
</div>


<div class="well span6">

<h2>Freezer Samples</h2>

    [% IF freezer.samples %]
    <table class="table table-striped">
    <thead>
        <tr>            
            <th>Location</th>
	    <th>Strain</th>
	    <th>Genotype</th>
	    <th>Number of vials</th>
	    <th>Date last frozen</th>
	    <th>Date last thawed</th>
        </tr>
    </thead>
    <tbody>
        [% FOREACH sample IN freezer.samples %]
         <tr>
	    <td>[% sample.location %]</td>
            <td><a href="[% c.uri_for('/strain/' _ sample.strain) %]">[% sample.strain %]</a></td> 
	    <td>[% sample.genotype %]</td>
	    <td>[% sample.sample_count %]</td>
	    <td>[% sample %] THIS IS A JOIN TO EVENT TABLE</td>
	    <td>[% sample %] THIS IS A JOIN TO EVENT TABLE</td>
         </tr>
	 [% END %]
    </tbody>
</table>
[% ELSE %]
   <em>There are no samples yet in this freezer!</em>
[% END %]

[% END %]




[% typeahead_support('freezer',['name']) %]
