<em>This is a running list of use case questions -- whether and how they can be addressed by our model. The pseudo sql comes <strong>for free</strong>!</em>


<h2>Strain Searches</h2>

<ul>
<li>Show all variations contained in a strain<br />

<code>
select strain.id,variation.name,strain.name from strain,atomized_genotype,variation where strain.name="EG1000" and strain.id=atomized_genotype.strain_id and atomized_genotype.variation_id=variation.id;
+------+------+--------+
| id   | name | name   |
+------+------+--------+
| 5706 | NULL | EG1000 |
| 5706 | NULL | EG1000 |
| 5706 | NULL | EG1000 |
+------+------+--------+
3 rows in set (0.37 sec)
</code>
</li>



<li>Show all genes contained in a strain

<code>
mysql> select strain.id,gene.name,strain.name from strain,atomized_genotype,gene where strain.name="EG1000" and strain.id=atomized_genotype.strain_id and atomized_genotype.gene_id=gene.id;
+------+-------+--------+
| id   | name  | name   |
+------+-------+--------+
| 5706 | dpy-5 | EG1000 |
| 5706 | lon-1 | EG1000 |
| 5706 | rol-6 | EG1000 |
+------+-------+--------+
3 rows in set (0.61 sec)
</code>
</li>



<li>Find all genes in a given gene_class

<code>
select gene_class.name,gene from gene,gene_class where gene_class="unc" and gene_class.id=gene.gene_class_id;
</code>


<li>Find all VARIATIONS in a given gene_class


<li>Find recently added strains

<li>Find wild isolates

<li>Find Non-Caneorhabditis strains

<li>Find all C. elegans strains

<li>Find balancers | rearrangemtns | transgenes

<li>Find all strains (paginated view)





<li>Show all genes affected by a variation (eg: deletions can remove multiple genes):</li>

<code>
select variation.name,gene.name from variation.variation2gene,gene where variation.name="" and variation.id=variation2gene.variation_id and variation2gene.gene_id=gene.gene_id;
</code>



<h2>Lab Reports</h2>

<em>The following queries could be used independently or on a unified Lab Report page.


<ul>



<li>Lab designation list (sorted by code: http://www.cbs.umn.edu/cgc/lab-code)

<li>Lab designation list (sorted by allele designation : http://www.cbs.umn.edu/cgc/lab-allele)

<li>Lab designations sorted by lab head (http://www.cbs.umn.edu/cgc/lab-head)

<li>Gene classes (http://www.cbs.umn.edu/cgc/gene-names)
	 gene_class Laboratory Description


<li>Find all variations generated by a laboratory</li>

<code>
mysql> select variation.name,laboratory.name from laboratory,variation where laboratory.name="EG" and laboratory.id=variation.laboratory_id;
+-------+------+
| name  | name |
+-------+------+
| ox110 | EG   |
| ox120 | EG   |
| ox299 | EG   |
| ox152 | EG   |
| ox10  | EG   |
| oxP1  | EG   |
| ox277 | EG   |
| ox278 | EG   |
| ox7   | EG   |
| ox4   | EG   |
| ox5   | EG   |
| ox9   | EG   |
| ox24  | EG   |
| ox26  | EG   |
| ox27  | EG   |
| ox30  | EG   |
| ox32  | EG   |
| ox34  | EG   |
| ox35  | EG   |
| ox36  | EG   |
| ox38  | EG   |
| ox39  | EG   |
| ox171 | EG   |
| ox1   | EG   |
| oxP2  | EG   |
| ox144 | EG   |
| ox276 | EG   |
| ox79  | EG   |
| ox134 | EG   |
| ox317 | EG   |
| ox322 | EG   |
| ox190 | EG   |
| ox196 | EG   |
| ox197 | EG   |
| ox199 | EG   |
| ox301 | EG   |
| ox330 | EG   |
| ox346 | EG   |
| ox329 | EG   |
| ox374 | EG   |
| ox195 | EG   |
| ox51  | EG   |
| ox175 | EG   |
| ox177 | EG   |
+-------+------+
44 rows in set (0.01 sec)
</code>
</li>



<li>Find all strains generated by a laboratory</li>

<pre>
select laboratory.name,strain.name from laboratory,strain where laboratory.name="AA" and laboratory.id=strain.laboratory_id;
+------+-------+
| name | name  |
+------+-------+
| AA   | AA1   |
| AA   | AA10  |
| AA   | AA18  |
| AA   | AA82  |
| AA   | AA85  |
| AA   | AA86  |
| AA   | AA87  |
| AA   | AA88  |
| AA   | AA89  |
| AA   | AA107 |
+------+-------+
10 rows in set (0.00 sec)
</pre>
</li>





<li>Find all <strong>gene classes</strong> that a laboratory is responsible for

<pre>

select gene_class.name,gene_class.description,laboratory.name from laboratory,gene_class where laboratory.name="MT" and laboratory.id=gene_class.laboratory_id; 

+------+---------------------------------------------------------------------+------+
| name | description                                                         | name |
+------+---------------------------------------------------------------------+------+
| adc  | Aromatic amino acid DeCarboxylase family                            | MT   |
| ces  | CEll death Specification                                            | MT   |
| chaf | CHromatin Assembly Factor                                           | MT   |
| cpn  | CalPoNin                                                            | MT   |
| crh  | CREB Homolog                                                        | MT   |
| dig  | DIsplaced Gonad                                                     | MT   |
| dpl  | vertebrate transcription factor DP-Like                             | MT   |
| efl  | E2F-like (mammalian transcription factor)                           | MT   |
| egl  | EGg Laying defective                                                | MT   |
| epc  | Enhancer of PolyComb-like                                           | MT   |
| isw  | yeast ISW (imitation SWI) homolog                                   | MT   |
| lntl | LIN-24 (Twenty-four) Like                                           | MT   |
| mbtr | MBT (Malignant Brain Tumor) Repeat containing protein               | MT   |
| mcd  | Modifier of Cell Death phenotype                                    | MT   |
| met  | histone METhyltransferase-like                                      | MT   |
| mfap | MicroFibrillar-Associated Protein homolog                           | MT   |
| mod  | Modulation Of locomotion Defective                                  | MT   |
| muc  | human MUColipidosis related                                         | MT   |
| mys  | MYST family histone acetyltransferase-like                          | MT   |
| nurf | NURF (nucleosome remodeling factor) complex homolog                 | MT   |
| pyp  | inorganic PYroPhosphatase                                           | MT   |
| sem  | SEx Muscle abnormal                                                 | MT   |
| sfa  | Splicing FActor                                                     | MT   |
| sho  | Suppressor of touch-induced Head Oscillation                        | MT   |
| sqv  | SQuashed Vulva                                                      | MT   |
| ssl  | yeast Swi2/Snf2-Like                                                | MT   |
| suv  | SUppressor of Vulvaless                                             | MT   |
| tbh  | Tyramine Beta Hydroxylase                                           | MT   |
| tdc  | Tyrosine DeCarboxylase                                              | MT   |
| tos  | Target Of Splicing                                                  | MT   |
| trr  | TRRAP-like (transcription/transformation domain-associated protein) | MT   |
+------+---------------------------------------------------------------------+------+
31 rows in set (0.00 sec)
</pre>

</li>



<h2>Strain maintenance: entry, history, etc</h2>