[% WRAPPER admin_content title="TODO" %]
    <strong>TODO:</strong>
    <ul>
        <li>admin level displays.
        <li>back end OR logic isn't working as expected.
	<li> there should be a link to edit the laboratory
    </ul>

    <p><strong>Questions for CGC</strong></p>
    <ul>
       <li>How/when are gene classes assigned?  At the CGC or directly at WormBase via JH? In other words, does WormBase get this information from CGC?</li?
    </ul>
[% END %]

[% DEFAULT data = rest %]

<!-- PAGE HEADER -->
<div class="page-header">
    <h1>CGC Registered Laboratories</h1>
</div>


<!-- PAGE CONTENT -->
<div class="span6">
        <h2>All Laboratories</h2>
        <p><a href="[% c.uri_for('/laboratories') %]">View all laboratories tracked by the CGC</a></p>
    </div>

<!-- Search: for updates and general viewing -->
   <div class="span6">
       <h2>Search</h2>
       <div class="well">
           <input id="search-laboratory" type="text" class="span3"
               [% IF data %] value="[% data.name %]"
               [% ELSE %] placeholder="Start typing a laboratory..."
               [% END %]
           />
           <span class="help-inline" style="margin-bottom: 9px"><small>Example:
           <a href="/laboratory/CB">CB</a>,
           <a href="/laboratory/EG">EG</a>,
           <a href="/laboratory/MT">MT</a>
           </small></span>
       </div>
    </div>


[% IF data %]
<div class="well span6">
    <table id="laboratory-view" class="table table-striped">
    <thead><h3>Laboratory Information</h3></thead>
    <tbody>
        <tr><th>Name</th><td>[% data.name %] ([% link_to_wormbase('Laboratory',data.name,'view at WormBase') %])</td></tr>
	<tr><th>Allele designation</th><td>[% data.allele_designation %]</td></tr>
        <tr><th>Head</th><td>[% data.head %]</td></tr>
        <tr><th>Institution</th><td>[% data.institution %]</td></tr>
	<tr><th>Address</th>
             <td>
	    [% data.address1 %]<br />
            [% data.state %], [% data.country %]
	  </td></tr>
        [% IF data.website %]
	      <tr><th>Website</th><td>
	      <a href="[% data.website %]">[% data.website %]</td></tr>
         [% END %]
	 <tr><th>Is commercial?</th><td><strong>admin only field?</strong> [% data.commercial %]</td></tr>
         <tr><th>Gene classes</th>
	     <td>
	     [% FOREACH gene_class IN data.gene_classes;
              '<a href="' _ c.uri_for('/gene-class/' _ gene_class.name) _ '">' _ gene_class.name _ '</a><br />';     
             END %]
         </td></tr>
    </tbody>
    </table>
</div>


<div class="well span6">

<h2>Strains contributed by this laboratory</h2>

    [% IF data.strains %]
    <table class="table table-striped">
    <thead>
        <tr>            
            <th>Strain</th>
	    <th>Genotype</th>
	    <th>Species</th>
	    <th>Description</th>
        </tr>
    </thead>
    <tbody>
        [% FOREACH strain IN data.strains %]
         <tr>
            <td><a href="[% c.uri_for('/strain/' _ strain.name) %]">[% strain.name %]</a></td> 
	    <td>[% strain.genotype %]</td>
            <td>[% species_link(strain.species.name) %]</td>
	    <td>[% strain.description %]</td>
         </tr>
	 [% END %]
    </tbody>
</table>
[% ELSE %]
   <em>This laboratory hasn't submitted any strains to the CGC.</em>
[% END %]
</div>


<div class="well span6">

<h2>Alleles contributed by this laboratory</h2>

    [% IF data.alleles %]
    <table class="table table-striped">
    <thead>
        <tr>            
            <th>Allele</th>
	    <th>Type</th>
	    <th>DNA Change</th>
	    <th>Protein Change</th>
        </tr>
    </thead>
    <tbody>
        [% FOREACH allele IN data.alleles %]
         <tr>
            <td>[% allele.name %]</td> 
            <td>[% allele.variation_type %]</td>
	    <td>[% allele.type_of_dna_change %]</td>
	    <td>[% allele.type_of_protein_change %]</td>
         </tr>
	 [% END %]
    </tbody>
</table>
[% ELSE %]
   <em>This laboratory hasn't submitted any alleles to the CGC.</em>
[% END %]

[% END %]


[% typeahead_support('laboratory',['name','head']) %]


